[submodule "cpp-httplib"]
	path = cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json
[submodule "StockMarketSim/cpp-httplib"]
	path = StockMarketSim/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
[submodule "StockMarketSim/json"]
	path = StockMarketSim/json
	url = https://github.com/nlohmann/json
